{% load static %}

<div id="about" class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-xs-11 wow fadeInLeft" data-wow-delay="0.9s">
				<h2>MBATHA MARVIN</h2>
				<h4>DATA ENGINEER &AMP; WEB DEVELOPER</h4>
				<p>I am passionate about AI, Machine Learning, Data Science and Data Enginering because of the endless possibilities it posses.</p>
				<p>I pride myself in the development of Intelligent Systems that bring a positive impact in Business Processes and increase efficiency of already existing Systems.</p>
				<p>Apart from Data related projects, I also build Websites using Django. I enjoy using Python and this love of python has influenced my Tech Stacks</p>
			</div>
			<div class="col-md-6 col-xs-11 wow fadeInRight" data-wow-delay="0.9s">
				<span class="text-top">Data Science &AMP; Analysis <small>95%</small></span>
					<div class="progress">
						<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 95%;"></div>
					</div>
				<span> Web Development <small>93%</small></span>
					<div class="progress">
						<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 93%;"></div>
					</div>
				<span>Data Engineering <small>92%</small></span>
					<div class="progress">
						<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 92%;"></div>
					</div>
				<span>HTLM5 &AMP; CSS3 <small>85%</small></span>
					<div class="progress">
						<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"></div>
					</div>
			</div>
		</div>
	</div>
</div>