{% load static %}

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 wow fadeIn" data-wow-delay="0.9s">
                <p>Copyright &copy; 2023 Mbatha Marvin Personal Profile.</p>
                <p>Designed by <a rel="nofollow noopener" href="https://templatemo.com">templatemo</a></p>
                <hr>
                <ul class="social-icon">
                    <li><a href="https://www.linkedin.com/in/mbatha-marvin-894b62198/" class="fa fa-linkedin"></a></li>
                    {% comment %} <li><a href="https://www.linkedin.com/in/mbatha-marvin-894b62198/" class="fa fa-twitter"></a></li>
                    <li><a href="https://www.linkedin.com/in/mbatha-marvin-894b62198/" class="fa fa-instagram"></a></li> {% endcomment %}
                </ul>
            </div>
        </div>
    </div>
</footer>