{% load static %}

<div id="home" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 wow fadeIn" data-wow-delay="0.9s">
                <h3>Simple and Elegant</h3>
                <h1>Mbatha Marvin</h1>
                <h2 class="rotate">DJANGO WEB DEVELOPER, DATA ENGINEER, DATA ANALYST, BIG DATA, RESTFUL APIs</h2>
                <h5>I am a Software Engineer with a Bsc in Computer Science. I specialize in Data Engineering as well as Wed Development using Django .</h5>
                <a href="#work" class="btn btn-default smoothScroll wow fadeInUp" data-wow-delay="1s"> My Skills</a>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>