{% load static %}

<div id="portfolio" class="section">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="wow bounce">PORTFOLIO</h2>
        </div>
        <div class="col-md-4 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
            <div class="portfolio-thumb">
                <img src="{% static 'dashboard/home_page/images/portfolio-img1.jpg'%}" class="img-responsive" alt="Apache Airflow img">
                    <div class="portfolio-overlay">
                        <h4>Apache Airflow</h4>
                        <h5>Author: Mbatha Marvin</h5>
                    </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
            <div class="portfolio-thumb">
                <img src="{% static 'dashboard/home_page/images/portfolio-img2.jpg'%}" class="img-responsive" alt="Apache Superset Dashboard img">
                    <div class="portfolio-overlay">
                        <h4>Apache Superset Dashboard</h4>
                        <h5>Author: Mbatha Marvin</h5>
                    </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
            <div class="portfolio-thumb">
                <img src="{% static 'dashboard/home_page/images/portfolio-img3.jpg'%}" class="img-responsive" alt="Dagster img">
                    <div class="portfolio-overlay">
                        <h4>Dagster </h4>
                        <h5>Author: Mbatha Marvin</h5>
                    </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
            <div class="portfolio-thumb">
                <img src="{% static 'dashboard/home_page/images/portfolio-img4.jpg'%}" class="img-responsive" alt="Big Data Analytics img">
                    <div class="portfolio-overlay">
                        <h4>Big Data Analytics</h4>
                        <h5>Author: Mbatha Marvin</h5>
                    </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
            <div class="portfolio-thumb">
                <img src="{% static 'dashboard/home_page/images/portfolio-img5.jpg'%}" class="img-responsive" alt="Prefect img">
                    <div class="portfolio-overlay">
                        <h4>Prefect</h4>
                        <h5>Author: Mbatha Marvin</h5>
                    </div>
            </div>
        </div>
    </div>
</div>
</div>