{% load static %}

<div id="work" class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-12 wow bounce">
						<h2>WHAT I DO</h2>
					</div>
                </div>  
                
                <div class="row">
					<div class="col-md-4 col-xs-11 wow fadeInUp" data-wow-delay="0.6s">
						<div class="media">
							<div class="media-object media-left">
								<i class="fa fa-laptop"></i>
							</div>
							<div class="media-body">
								<h3 class="media-heading">Web Development</h3>
								<p>
									Front-End Frameworks:
									<ul>
										<li> HTML, CSS, Javascript </li>
										<li> Bootstrap </li>
										<li> React </li>
										<li> Angular </li>
									</ul>
									API Development Tools :
									<ul>
										<li> Django REST Framework </li>
										<li> Fast API </li>
										<li> Flask </li>
										<li> Express </li>
									</ul>
									Back-End Frameworks:
									<ul>
										<li> Django</li>
										<li> Flask </li>
										<li> Node JS </li>
										<li> C# </li>
									</ul>
								</p>
							</div>
						</div>
					</div>
                    
					<div class="col-md-4 col-xs-11 wow fadeInUp" data-wow-delay="0.6s">
						<div class="media">
							<div class="media-object media-left">
								<i class="fa fa-bar-chart"></i>
							</div>
							<div class="media-body">
								<h3 class="media-heading">Data Science &AMP; Data Analytics </h3>
								<p> 
									ML &AMP; AI Tools : 
									<ul>
										<li> TensorFlow 2 </li>
										<li> Keras </li>
										<li> OpenAI API </li>
										<li> PyTorch </li>
									</ul>
									DataBase Solution :
									<ul>
										<li> PostgreSQL </li>
										<li> MySQL </li>
										<li> Mongo DB </li>
										<li> MS SQL Server </li>
									</ul>
									Other Technologies :
									<ul>
										<li> MLflow </li>
										<li> DataBricks </li>
										<li> StreamLit </li>
										<li> Dash </li>
										<li> Docker </li>
									</ul>
								</p>
							</div>
						</div>
					</div>
                    
					<div class="col-md-4 col-xs-11 wow fadeInUp" data-wow-delay="0.6s">
						<div class="media">
							<div class="media-object media-left">
								<i class="fa fa-code"></i>
							</div>
							<div class="media-body">
								<h3 class="media-heading">Data Engineering</h3>
								<p>
									Orchestration Tools :
									<ul>
										<li> Apache Airflow</li>
										<li> Dagster </li>
										<li> Prefect </li>
									</ul>
									Data Processing Tools :
									<ul>
										<li>Pandas</li>
										<li>Polars</li>
										<li>PySpark</li>
									</ul>
									Data Visualization Tools :
									<ul>										
										<li> Apache Superset </li>
										<li> MetaBase </li>
										<li> Redash </li>
										<li> Tableau</li>
										<li> Power BI </li>
									</ul>
								</p>
							</div>
						</div>
					</div>
                    
				</div>
			</div>
		</div>